<head runat="server">
   <meta name="viewport" content="width=device-width" />
   <title>Major Tom</title>
   <!-- jQuery Reference to handle AJAX call -->
   <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")"></script>
   <!-- Our script to actually fire the call itself -->
   <script type="text/javascript">
       //When the page loads
       $(function () {
           //Fire this AJAX call
           $.ajax({
               url: "http://localhost:1337/api/values",
               type: "GET",
               success: function (data) {
                   //Grab our data from Ground Control
                   alert(data);
               },
               error: function (event) {
                   //If any errors occurred - detail them here
                   alert("Transmission failed. (An error has occurred)");
               }
           });
       });
  </script>
</head>
